body
{
    background-color: white; /* Le fond de la page sera blanc */
    color: black; /* Le texte de la page sera noir */
    background-image: url("Fond.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 35px 0px;
}
h1
{
  position: absolute;
  font-size: 50px;
  padding-top:0%;
  padding-left:37.5%;
  font-family: Times, "Times New Roman", Georgia, serif;
}

/*-------------------*/
.Descript
{
  position: absolute;
  padding-left:33.5%;
  padding-top:10%;
  font-size: 35px;
  color: grey;
  font-family: "Lucida Console", Courier, monospace;
}

/*-------------------*/
.Poste
{
  position: absolute;
  padding-top:25%;
  padding-left:10%;
  font-size: 20px;
  font-family: "Lucida Console", Courier, monospace;
  color: grey;
}

/*-------------------*/
.Trait1
{
  position: absolute;
  padding-top:55.5%;
  padding-left:18.7%;
  font-size: 40px;
}
/*-------------------*/
.Trait2
{
  position: absolute;
  padding-top:55.5%;
  padding-left:55.7%;
  font-size: 40px;
}


/*-------------------*/
.Trait4
{
  position: absolute;
  padding-top:79.5%;
  padding-left:2.5%;
  font-size: 40px;
}
/*-------------------*/
.Trait5
{
  position: absolute;
  padding-top:113.9%;
  padding-left:2.5%;
  font-size: 40px;
}


/*-------------------*/
.Photo
{
  position: absolute;
  padding-top:40%;
  padding-left:49%;
  font-size: 20px;
}

/*-------------------*/
.FR
{
  position: absolute;
  padding-top:0%;
  padding-left:90%;
  font-size: 20px;
}


/*-------------------*/
.ENG
{
  position: absolute;
  padding-top:0%;
  padding-left:95%;
  font-size: 20px;
}

/*-------------------*/
.Email
{
  position: absolute;
  padding-top:35%;
  padding-left:75%;
  font-size: 20px;
}

.Link
{
  position: absolute;
  padding-top:40%;
  padding-left:75%;
  font-size: 20px;
}

.Tel
{
  position: absolute;
  padding-top:45%;
  padding-left:75%;
  font-size: 20px;
}

/*-------------------*/
.Titre0
{
  position: absolute;
  padding-top:36%;
  padding-left:17%;
  font-size: 20px;
}

.Profil
{
  position: absolute;
  width: 20%;
  padding-top:40%;
  padding-left:10%;
  font-size: 20px;
}

/*-------------------*/
.Titre1
{
  position: absolute;
  margin-left: 42.5%;
  margin-top: 57%;
  font-size: 20px;
  border-left: 10px solid #F1DEC8;
  border-right: 10px solid #F1DEC8;
  border-top: 3px solid #F1DEC8;
  border-bottom: 3px solid #F1DEC8;
  border-radius: 5px;
  background-color: #F1DEC8;
  padding-top: 0.7%;
  padding-left: 0.1%;
  font-size: 20px;

}

.Competences
{
  position: absolute;
  padding-top:65%;
  padding-left:37.5%;
  font-size: 20px;
}

/*-------------------*/
.Titre2
{
  position: absolute;
  position: absolute;
  width: 37%;
  margin-left: 28.5%;
  margin-top: 81%;
  font-size: 20px;
  border: 10px solid #F1DEC8;
  border-radius: 5px;
  background-color: #F1DEC8;
  font-size: 20px;
}

.Exppro
{
  position: absolute;
  padding-top:88.5%;
  padding-left:5%;
  font-size: 20px;
}

.Ash
{
  position: absolute;
  width: 80%;
  margin-left: 10%;
  margin-top: 91.2%;
  font-size: 20px;
  border: 10px solid #F1DEC8;
  border-radius: 5px;
  background-color: #F1DEC8;
}

.Stage
{
  position: absolute;
  width: 80%;
  margin-left: 10%;
  margin-top: 98.2%;
  font-size: 20px;
  border: 10px solid #F1DEC8;
  border-radius: 5px;
  background-color: #F1DEC8;
}

.Serveuse
{
  position: absolute;
  width: 80%;
  margin-left: 10%;
  margin-top: 105.2%;
  font-size: 20px;
  border: 10px solid #F1DEC8;
  border-radius: 5px;
  background-color: #F1DEC8;
}


/*-------------------*/
.Titre3
{
  position: absolute;
  margin-left: 7.5%;
  margin-top: 57%;
  font-size: 20px;
  border-left: 10px solid #F1DEC8;
  border-right: 10px solid #F1DEC8;
  border-top: 3px solid #F1DEC8;
  border-bottom: 3px solid #F1DEC8;
  border-radius: 5px;
  padding-top: 0.7%;
  padding-left: 0.1%;
  font-size: 20px;
  font-size: 20px;
  border: 2px black ridge;
  padding: 8px;
}

.Formation
{
  position: absolute;
  width: 20%;
  margin-left: 2.5%;
  margin-top: 65%;
  font-size: 20px;
}

/*-------------------*/
.Titre4
{
  position: absolute;
  margin-left: 77.5%;
  margin-top: 57%;
  font-size: 20px;
  border-left: 10px solid #F1DEC8;
  border-right: 10px solid #F1DEC8;
  border-top: 3px solid #F1DEC8;
  border-bottom: 3px solid #F1DEC8;
  border-radius: 5px;
  padding-top: 0.7%;
  padding-left: 0.1%;
  font-size: 20px;
  font-size: 20px;
  border: 2px black ridge;
  padding: 8px;
}

.Langues
{
  position: absolute;
  margin-left: 72.5%;
  margin-top: 65%;
  font-size: 20px;
}

/*-------------------*/
.Titre5
{
  position: absolute;
  margin-left: 31.5%;
  margin-top: 115%;
  font-size: 20px;
  border-left: 10px solid #F1DEC8;
  border-right: 10px solid #F1DEC8;
  border-top: 3px solid #F1DEC8;
  border-bottom: 3px solid #F1DEC8;
  border-radius: 5px;
  background-color: #F1DEC8;
  padding-top: 0.7%;
  padding-left: 0.1%;
  font-size: 20px;
  font-size: 20px;
  /*border: 2px black ridge;*/
  border: 10px #F1DEC8 double;
  background-color: #F1DEC8;
}

.extrapro
{
  position: absolute;
  margin-left: 10%;
  margin-top: 125%;
  font-size: 20px;
}
