body
{
    background-color: white; /* Le fond de la page sera blanc */
    color: black; /* Le texte de la page sera noir */
    background-image: url("CV.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 35px 0px;
}
h1
{
  position: absolute;
  top: 60px;
  left: 500px;
  font-size: 50px;
  balise
  font-family: "Arial Black" ;
}

h3
{
  text-decoration: underline;
}

