body
{
    background-color: white; /* Le fond de la page sera blanc */
    color: black; /* Le texte de la page sera noir */
    background-image: url("Fond.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 35px 0px;
}
h1
{
  position: absolute;
  font-size: 50px;
  padding-top:0%;
  padding-left:50%;
  font-family: Times, "Times New Roman", Georgia, serif;
}

/*-------------------*/
.Descript
{
  position: absolute;
  padding-left:45%;
  padding-top:10%;
  font-size: 35px;
  color: grey;
  font-family: "Lucida Console", Courier, monospace;
}

/*-------------------*/
.Poste
{
  position: absolute;
  padding-top:25%;
  padding-left:10%;
  font-size: 20px;
  font-family: "Lucida Console", Courier, monospace;
  color: grey;
}

/*-------------------*/
.Trait1
{
  position: absolute;
  top: 730px;
  left: 700px;
  font-size: 40px;
}
/*-------------------*/
.Trait2
{
  position: absolute;
  top: 730px;
  left: 330px;
  font-size: 40px;
}

/*-------------------*/
/*
.Trait3
{
  position: absolute;
  top: 1030px;
  left: 800px;
  font-size: 40px;
}
*/

/*-------------------*/
.Trait4
{
  position: absolute;
  top: 1030px;
  left: 40px;
  font-size: 40px;
}
/*-------------------*/
.Trait5
{
  position: absolute;
  top: 1660px;
  left: 40px;
  font-size: 40px;
}

/*-------------------*/
.Photo
{
  position: absolute;
  padding-top:40%;
  padding-left:50%;
  font-size: 20px;
}

/*-------------------*/
.FR
{
  position: absolute;
  padding-top:0%;
  padding-left:90%;
  font-size: 20px;
}


/*-------------------*/
.ENG
{
  position: absolute;
  padding-top:0%;
  padding-left:95%;
  font-size: 20px;
}

/*-------------------*/
.Email
{
  position: absolute;
  padding-top:35%;
  padding-left:75%;
  font-size: 20px;
}

.Link
{
  position: absolute;
  padding-top:40%;
  padding-left:75%;
  font-size: 20px;
}

.Tel
{
  position: absolute;
  padding-top:45%;
  padding-left:75%;
  font-size: 20px;
}

/*-------------------*/
.Titre0
{
  position: absolute;
  padding-top:32%;
  padding-left:20%;
  font-size: 20px;
}

.Profil
{
  position: absolute;
  width: 20%;
  padding-top:35%;
  padding-left:13%;
  font-size: 20px;
}

/*-------------------*/
.Titre1
{
  position: absolute;
  margin-left: 50%;
  margin-top: 57%;
  font-size: 20px;
  border-left: 10px solid #F1DEC8;
  border-right: 10px solid #F1DEC8;
  border-top: 3px solid #F1DEC8;
  border-bottom: 3px solid #F1DEC8;
  border-radius: 5px;
  background-color: #F1DEC8;
  padding-top: 0.7%;
  padding-left: 0.1%;
  font-size: 20px;

}

.Competences
{
  position: absolute;
  top: 850px;
  left: 500px;
  font-size: 20px;
}

/*-------------------*/
.Titre2
{
  position: absolute;
  position: absolute;
  height: 10%;
  width: 37%;
  margin-left: 50%;
  margin-top: 80%;
  font-size: 20px;
  border-: 10px solid #F1DEC8;
  border-radius: 5px;
  background-color: #F1DEC8;
  padding-top: 0.7%;
  padding-right: 1%;
  padding-bottom: 0.7%;
  padding-left: 2%;
  font-size: 20px;
  border: 10px #F1DEC8 double;
  background-color: #F1DEC8;
}

.Exppro
{
  position: absolute;
  top: 1150px;
  left: 100px;
  font-size: 20px;
}

.Ash
{
  position: absolute;
  height: 10%;
  width: 80%;
  margin-left: 10%;
  margin-top: 91.2%;
  font-size: 20px;
  border-: 10px solid #F1DEC8;
  border-radius: 5px;
  background-color: #F1DEC8;
  padding-top: 0.7%;
  padding-right: 1%;
  padding-bottom: 0.7%;
  padding-left: 2%;
}

.Stage
{
  position: absolute;
  height: 10%;
  width: 80%;
  margin-left: 10%;
  margin-top: 98.2%;
  font-size: 20px;
  border-: 10px solid #F1DEC8;
  border-radius: 5px;
  background-color: #F1DEC8;
  padding-top: 0.7%;
  padding-right: 1%;
  padding-bottom: 0.7%;
  padding-left: 2%;
}

.Serveuse
{
  position: absolute;
  height: 10%;
  width: 80%;
  margin-left: 10%;
  margin-top: 105.2%;
  font-size: 20px;
  border-: 10px solid #F1DEC8;
  border-radius: 5px;
  background-color: #F1DEC8;
  padding-top: 0.7%;
  padding-right: 1%;
  padding-bottom: 0.7%;
  padding-left: 2%;
}


/*-------------------*/
.Titre3
{
  position: absolute;
  margin-left: 15%;
  margin-top: 57%;
  font-size: 20px;
  border-left: 10px solid #F1DEC8;
  border-right: 10px solid #F1DEC8;
  border-top: 3px solid #F1DEC8;
  border-bottom: 3px solid #F1DEC8;
  border-radius: 5px;
  padding-top: 0.7%;
  padding-left: 0.1%;
  font-size: 20px;
  font-size: 20px;
  border: 2px black ridge;
  padding: 8px;
}

.Formation
{
  position: absolute;
  width: 20%;
  margin-left: 10%;
  margin-top: 65%;
  font-size: 20px;
}

/*-------------------*/
.Titre4
{
  position: absolute;
  margin-left: 85%;
  margin-top: 57%;
  font-size: 20px;
  border-left: 10px solid #F1DEC8;
  border-right: 10px solid #F1DEC8;
  border-top: 3px solid #F1DEC8;
  border-bottom: 3px solid #F1DEC8;
  border-radius: 5px;
  padding-top: 0.7%;
  padding-left: 0.1%;
  font-size: 20px;
  font-size: 20px;
  border: 2px black ridge;
  padding: 8px;
}

.Langues
{
  position: absolute;
  margin-left: 80%;
  margin-top: 65%;
  font-size: 20px;
}

/*-------------------*/
.Titre5
{
  position: absolute;
  margin-left: 50%;
  margin-top: 115%;
  font-size: 20px;
  border-left: 10px solid #F1DEC8;
  border-right: 10px solid #F1DEC8;
  border-top: 3px solid #F1DEC8;
  border-bottom: 3px solid #F1DEC8;
  border-radius: 5px;
  background-color: #F1DEC8;
  padding-top: 0.7%;
  padding-left: 0.1%;
  font-size: 20px;
  font-size: 20px;
  /*border: 2px black ridge;*/
  border: 10px #F1DEC8 double;
  background-color: #F1DEC8;
}

.extrapro
{
  position: absolute;
  margin-left: 20%;
  margin-top: 125%;
  font-size: 20px;
}
