body
{
    background-color: white; /* Le fond de la page sera blanc */
    color: black; /* Le texte de la page sera noir */
    background-image: url("CV.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 35px 0px;
}
h1
{
  position: absolute;
  top: 60px;
  left: 500px;
  font-size: 50px;
  font-family: Times, "Times New Roman", Georgia, serif;
}

/*
h3
{
  text-decoration: underline;
}
*/

/*-------------------*/
.Trait1
{
  position: absolute;
  top: 730px;
  left: 700px;
  font-size: 40px;
}
/*-------------------*/
.Trait2
{
  position: absolute;
  top: 730px;
  left: 400px;
  font-size: 40px;
}

/*-------------------*/
.Photo
{
  position: absolute;
  top: 450px;
  left: 600px;
  font-size: 20px;
}

/*-------------------*/
.Email
{
  position: absolute;
  top: 453px;
  left: 990px;
  font-size: 20px;
}

.Link
{
  position: absolute;
  top: 515px;
  left: 960px;
  font-size: 20px;
}

.Tel
{
  position: absolute;
  top: 580px;
  left: 1000px;
  font-size: 20px;
}

/*-------------------*/
.Titre0
{
  position: absolute;
  top: 450px;
  left: 270px;
  font-size: 20px;
}

.Profil
{
  position: absolute;
  top: 500px;
  left: 200px;
  font-size: 20px;
}

/*-------------------*/
.Titre1
{
  position: absolute;
  top: 750px;
  left: 600px;
  font-size: 20px;
  border: 10px #F1DEC8 double;
  background-color: #F1DEC8;
}

.Competences
{
  position: absolute;
  top: 850px;
  left: 550px;
  font-size: 20px;
}

/*-------------------*/
.Titre2
{
  position: absolute;
  top: 1050px;
  left: 300px;
  font-size: 20px;
  border: 10px #F1DEC8 double;
  background-color: #F1DEC8;
}

.Exppro
{
  position: absolute;
  top: 1000px;
  left: 300px;
  font-size: 20px;
}

/*-------------------*/
.Titre3
{
  position: absolute;
  top: 770px;
  left: 250px;
  font-size: 20px;
  border: 2px black ridge;
}

.Formation
{
  position: absolute;
  top: 850px;
  left: 200px;
  font-size: 20px;
}

/*-------------------*/
.Titre4
{
  position: absolute;
  top: 770px;
  left: 960px;
  font-size: 20px;
  border: 2px black ridge;
}

.Langues
{
  position: absolute;
  top: 900px;
  left: 910px;
  font-size: 20px;
}

/*-------------------*/
.Titre5
{
  position: absolute;
  top: 1300px;
  left: 550px;
  font-size: 20px;
  border: 2px black ridge;
}

.extrapro
{
  position: absolute;
  top: 1400px;
  left: 300px;
  font-size: 20px;
}
