body
{
    background-color: white; /* Le fond de la page sera blanc */
    color: black; /* Le texte de la page sera noir */
    background-image: url("CV.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top right; /* Le fond sera placé en haut à droite */
}

h3
{
  text-decoration: underline;
}

