body
{
    background-color: white; /* Le fond de la page sera blanc */
    color: black; /* Le texte de la page sera noir */
    background-image: url("CV.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top left; /* Le fond sera placé en haut à gauche */
}

h3
{
  text-decoration: underline;
}

