body
{
    background-color: white; /* Le fond de la page sera blanc */
    color: black; /* Le texte de la page sera noir */
    background-image: url("CV.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 35px 0px;
}
h1
{
  position: absolute;
  top: 60px;
  left: 500px;
  font-size: 50px;
  font-family: Times, "Times New Roman", Georgia, serif;
}

h3
{
  text-decoration: underline;
}

/*-------------------*/
.Email
{
  position: absolute;
  top: 453px;
  left: 920px;
  font-size: 20px;
}

.Link
{
  position: absolute;
  top: 515px;
  left: 960px;
  font-size: 20px;
}

.Tel
{
  position: absolute;
  top: 580px;
  left: 960px;
  font-size: 20px;
}

/*-------------------*/
.Titre0
{
    color: black;
}

.Profil
{
    color: black;
}

/*-------------------*/
.Titre1
{
    color: black;
}

.Competences
{
    color: black;
}

/*-------------------*/
.Titre2
{
    color: black;
}

.Exppro
{
    color: black;
}

/*-------------------*/
.Titre3
{
    color: black;
}

.Formation
{
    color: black;
}

/*-------------------*/
.Titre4
{
    color: black;
}

.Langues
{
    color: black;
}

/*-------------------*/
.Titre5
{
    color: black;
}

.extrapro
{
    color: black;
}
