body
{
    background-color: white; /* Le fond de la page sera blanc */
    color: black; /* Le texte de la page sera noir */
    background-image: url("CV.png");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 50px 0px;
}
h1
{
    style="position: absolute; top: 80 px; left: 100 px;">
}

h3
{
  text-decoration: underline;
}

